<div class="homepage">

    <!-- 轮播图 -->
	<div class="banner">
        <ul class="item">
            <li class="item1">
               <img class="bg" src="images/banner1.jpg" alt="" >
               <div class="main W960">
                   <img class="pic0" src="../images/banner1-img.png" alt="">
                   <a href="" title="" class="a-btn">了解详情</a>
                   <p class="text">
                       2017年1月1日—2017年2月28日
                       <br>
                       *融资利率随银行基准利率浮动调整，请注意查看帮助中心
                   </p>
               </div>
            </li>
            <li class="item2">
               <img class="bg" src="../images/banner2.jpg" alt="">
               <div class="main W960">
                   <h2 class="item-title banner-down">
                       <p class="text1">投资全球最好公司</p>
                       <p class="text2">分享世界科技红利</p>
                   </h2>
                   <a class="a-btn banner-up" href="" title="">马上开户</a>
               </div>
            </li>
            <li class="item3">
               <img class="bg" src="../images/banner3.jpg" alt="">
               <div class="main W960">
                   <h2 class="item-title banner-down">
                   <p class="text1">跨境专线直连交易所</p>
                   <p class="text2">体验毫秒级下单速度</p> 
                   </h2>
                   <a class="a-btn banner-up" href="" title="">马上开户</a>
               </div>
            </li>
            <li class="item4">
               <img class="bg" src="../images/banner4.jpg" alt="">
               <div class="main W960">
                   <h2 class="item-title banner-down">
                       <p class="text1">一键搬家零成本</p>
                       <p class="text2">立享$75转户补贴</p>
                   </h2>
                   <a class="a-btn banner-up" href="" title="">马上开户</a>
               </div>
            </li>
            <li class="item5">
               <img class="bg" src="../images/banner5.jpg" alt="">
               <div class="main W960">
                   <img class=" pic pic1 banner-down" src="../images/pic1.png" alt="">
                   <img class=" pic pic2 banner-up" src="../images/pic2.png" alt="">
                   <img class=" pic pic3 banner-up" src="../images/pic3.png" alt="">
                   <a class="a-btn item5-btn banner-up" href="" title="">了解详情</a>
               </div>
            </li>
        </ul>
       <div class="tip">
           <a href="" title="" class="active"></a>
           <a href="" title=""></a>
           <a href="" title=""></a>
           <a href="" title=""></a>
           <a href="" title=""></a>
       </div>
	</div>
    
    <!-- section1 -->
    <section class="section1">
    	<div class="main W960">
    		<h2 class="sec1-title">为什么投资美股、港股?</h2>
    		<div class="container">
    			<ul class="clear">
    				<li class="item1">
    					<img src="../images/icon1.png" alt="">
    					<h6 class="title">投资最优公司</h6>
    					<p class="text">苹果、谷歌、阿里、百度、腾讯</p>
    					<p class="text">等尽在美股、港股等国际市场</p>
    				</li>
    				<li class="item2">
    					<img src="../images/icon2.png" alt="">
    					<h6 class="title">交易产品多样</h6>
    					<p class="text">股票、期权、ETF</p>
    					<p class="text">及更多证券衍生产品</p>
    				</li>
    				<li class="item3">
    					<img src="../images/icon3.png" alt="">
    					<h6 class="title">投资手段丰富</h6>
    					<p class="text">可买涨可卖空，</p>
    					<p class="text">无论牛市熊市都能赚钱</p>
    				</li>
    				<li class="item4">
    					<img src="../images/icon4.png" alt="">
    					<h6 class="title">市场透明规范</h6>
    					<p class="text">市场制度完善，监管严格</p>
    					<p class="text">充分保护普通投资者权益</p>
    				</li>
    				<li class="item5">
    					<img src="../images/icon5.png" alt="">
    					<h6 class="title">T+0交易随时卖</h6>
    					<p class="text">当天买卖</p>
    					<p class="text">证券流动性好，锁定收益</p>
    				</li>
    			</ul>
    		</div>
    	</div>
    </section>

    <!-- section2 -->
    <section class="section2">
    	<div class="main W960">
    	    <img class="phone-img" src="../images/index-phone.png" alt="">
    	    <div class="bottom clear">
    	    	<div class="text">
    	    		<h2 class="title">中英文交易客户端全渠道覆盖</h2>
    	    		<p class="txt top">iOS、Android、Windows、MacOS</p>
    	    		<p class="txt">为全球华人量身定制的专业股票投资软件，服务专业交易者</p>
    	    		<p class="txt">最快交易速度、最佳交易体验、最优成交价格</p>
    	    	</div>
    	    	<div class="down-box">
    	    		<img class="down-img" src="../images/index-iconfour.png" alt="">
    	    		<a class="down-btn" href="" title="">立即下载</a>
    	    	</div>
    	    </div>
    	</div>
    </section>

    <!-- section3 -->
    <section class="section3">
    	<img class="bg" src="../images/sec3-bg.jpg" alt="">
        <div class="main W960">
        	<h3 class="page-title">以客户资产安全为第一生命线</h3>
    	<ul class="item-box clear">
    		<li>
    			<img class="text-img" src="../images/sec3-img1.png" alt="">
    			<P class="text-center">客户资产隔离托管</P>
    			<P class="text-content">客户资产托管于花旗银行等清算机构银行账户，且同名账户流通，严格按照监管部门要求执行</P>
    		</li>
    		<li>
    			<img class="text-img" src="../images/sec3-img2.png" alt="">
    			<P class="text-center">美国监管机构保护</P>
    			<P class="text-content">客户账户受到美国证券交易监督委员（SEC）、美国金融监管局(FINRA)、美国证券投资者保护公司(SIPC)监管和保护</P>
    		</li>
    		<li>
    			<img class="text-img" src="../images/sec3-img3.png" alt="">
    			<P class="text-center">3000万美元资产保护</P>
    			<P class="text-content">客户账户享受高达3000万美元（现金额度90万美元）的证券投资人保护公司(SIPC)及商业保险赔付保护</P>
    		</li>
    	</ul>
        </div>
    </section>

    <!-- section4 -->
    <section class="section4">
       <div class="main W960">

          <!-- 地图部分 -->
       	  <div class="map">
       	  	<img src="../images/map.png" alt="">
            <div class="map-hot hot1 clear animated scaleMap">
                <div class="spot"></div>
                <div class="spot-time">
                    <p>
                        <span class="time">21:30-4:30</span>
                        (夏令时)
                    </p>
                    <p>
                        <span class="time">22:30-5:30</span>
                        (冬令时)
                    </p>
                    <p>美股交易时间 (北京时间)</p>
                </div>
            </div>
            <div class="map-hot hot2 clear animated scaleMap">
                <div class="spot"></div>
                <div class="spot-time">
                    <p>
                        <span class="time">9:30-11:30,13:00-15:00</span>
                    </p>
                    <p>A股交易时间（北京时间）</p>
                </div>
            </div>
            <div class="map-hot hot3 clear animated scaleMap">
                <div class="spot"></div>
                <div class="spot-time">
                    <p>
                        <span class="time">9:30-12:00,13:00-16:00</span>
                    </p>
                    <p>港股交易时间（北京时间）</p>
                </div>
            </div>
       	  </div>

       	  <!-- 文字部分 -->
       	  <div class="text-area">
       	  	<h2 class="title">一个老虎证券账户<br>玩转美股、港股</h2>
       	  	<p class="text">老虎证券不仅可以交易美股、港股、A股（沪港通），并且支持交易包括北美、欧盟国家、日本、新加坡等国家在内的全球活跃证券市场，真正实现资产的全球化配置。一个交易账户，立足全球资本市场。一笔钱白天炒港股、A股，晚上玩美股。</p>
       	  	<p class="tip">* A 股的交易范围仅限于沪港通。这包括所有上证180指数与380指数的成分股，以及虽不在相关指数成分股内但有股票同时在SSE以及SEHK上市的H股。</p>
       	  </div>
       </div>
    </section>

    <!-- section5 -->
    <section class="section5">
    	<ul class="main W960 ">
            <div class="item1 clear">
    		<li class="left">
    			<img class="picture" src="../images/index-icon1.png" alt="">
    			<h2 class="title">便捷开户</h2>
    			<p class="text">精修优化了开户表单，精简冗余问题，无需线下或视频见证，三分钟完成开户操作</p>
    		</li>
    		<li class="right">
    			<img class="picture" src="../images/index-icon2.png" alt="">
    			<h2 class="title">股票社区</h2>
    			<p class="text">
    			专业机构、美股大咖与广大投资者一起分享投资策略，讨论投资机会，在互动中提升投资能力</p>
    		</li>
            </div>
            <div class="item2 clear">
    		<li class="left">
    			<img class="picture" src="../images/index-icon3.png" alt="">
    			<h2 class="title">交易专线</h2>
    			<p class="text">采用了国际上延迟最低的证券交易系统，同时专门搭建了跨境专线，实现毫秒极别的下单速度</p>
    		</li>
    		<li class="right">
    			<img class="picture" src="../images/index-icon4.png" alt="">
    			<h2 class="title">最优价格</h2>
    			<p class="text">用户的订单直达美国、香港各大交易所，得益于先进的底层智能传递系统，下单后在多个交易所询价使订单以最优价成交</p>
    		</li>
            </div>
    	</ul>
    </section>

    <!-- section6 -->
    <section class="section6">
    	<img class="sec6-bg" src="../images/joinus.26cc5a47.jpg" alt="">
    	<div class="main W960">
	    	<div class="title-box">
	    		<h3 class="title">
	    			华人地区知名美股网络券商
	    			<br>
	                致力于为用户提供一流的全球投资体验
	    		</h3>
	    	</div>
	    	<div class="logo-box clear">
	    		<ul>
	    			<li class="logo-item logo1">
	    				<img src="../images/sec6-logo1.png" alt="">
	    			</li>
	    			<li class="logo-item logo2">
	    				<img src="../images/sec6-logo2.png" alt="">
	    			</li>
	    			<li class="logo-item logo3">
	    				<img src="../images/sec6-logo3.png" alt="">
	    			</li>
	    		</ul>
	    	</div>
	    	<a href="" title="" class="btn">关于我们</a>
    	</div>
    </section>

    <!-- section7 -->
    <section class="section7">
    	<div class="main W960">
    		<h2 class="title">信赖老虎证券的大咖和投资人</h2>
    		<div class="pic">
    			<ul class="clear pic-con">
    				<li><img src="../images/p1.png" alt="">
    				    <h5 class="name">徐小平</h5>
    				    <h6 class="posit">真格基金创始人</h6>
    				</li>
    				<li><img src="../images/p2.png" alt="">
    				    <h5 class="name">美团网创始人兼CEO</h5>
    				    <h6 class="posit">真格基金创始人</h6>
    				</li>
    				<li><img src="../images/p3.png" alt="">
    				    <h5 class="name">洪峰</h5>
    				    <h6 class="posit">小米联合创始人、副总裁（MIUI</h6>
    				</li>
                    <li><img src="../images/p4.png" alt="">
                        <h5 class="name">唐彬森</h5>
                        <h6 class="posit">智明星通CEO</h6>
                    </li>
    			</ul>
    		</div>
            <a href="javascript:" class="prev icon"></a>
            <a href="javascript:" class="next icon"></a>
    	</div>
    </section>

</div>
